<h1 class="text-center">Nos costumes !</h1>
<p></p>


  <div class="cards">
    <div class="col-sm" >
      <% @costumes.each do |costume| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('<%= costume.photo %>')"><%= costume.name %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
