<div class="costume-show">
  <div class ="costume-picture">
  <p>IMAGE DE COSTUME  </p>
  </div>

  <div class="costume-details">

    <div class="costume-description">
      <h1>Costume.name</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptate consequatur eligendi facilis non quasi qui exercitationem repellat odio! Ea modi eos dolorem aliquid totam laborum et rem ad atque.</p>
    </div>
    <div class="costume-informations">
      <p>TAILLE</p>
    </div>
    <div class="costume-ranking">
      zeofnzeoifneozifnoize
    </div>


  </div>

</div>
