.booking-screen {
  width: 80vw;
  margin: 24px auto;

}

.owner-booking-accepted {
  display: flex;
  border: 1px #62C147 solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  justify-content: center;
  align-items: center;

}

.owner-booking-decline {
  display: flex;
  border: 1px #ED2D2D solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

.booking-demande {
  flex: 1 0 15%;
  justify-content: space-around;

}

.booking-demande-bouton {
  flex: 1 0 20%;
  justify-content: space-between;
}

.booking-photo {
  padding: 5px;
  background: cover;
}

.booking-costume-name {
  display:flex;
  flex: 0 0 50%;
}

.booking-locataire-name {
  display: flex;
  flex: 0 0 10%;
  justify-content: center;
}

.booking-price {
  display: flex;
  flex: 0 0 10%;
}

.booking-date {
  display: flex;
  flex: 0 0 10%;
  padding-top: 5px;
}

.status-pending {
  color: black;
}

.status-declined {
  color: #ED2D2D;
}

.status-accepted {
  color: #62C147;
}

.button-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.button-details {
  background-color: white;
  color: #F28F4B;
  text-align: left;
}

#text-message {
  font-size: 15px;
}

.booking-photo {
  background-size: contain;
}
