.booking-screen {
  width: 80vw;
  margin: 24px auto;
}

.booking-container {
  align-items: center;
}


.owner-booking {
  border: 1px black solid;
  width: 150px;
  padding: 5px;
  margin: 2px;
}

.booking-demande-bouton {
  flex: 1 0 auto;
  justify-content: center;
}


.booking-photo {
  padding: 5px;
}
