.costume-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
  border: 1px solid black;
  border-radius:10px;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.costume-picture {
  height:  600px;

}

.costume-details {
  margin-top: 70px;
  height:  600px;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.name-price {
display:flex;
justify-content: space-between;
}

.costume-description {
}

.costume-informations {
  margin-top: 80px;
  height: 200px;
  border-top: 2px solid grey;

}
.costume-ranking {
  height: 200px;
  border-top: 2px solid grey;

}

.btn-flat.show {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover.show {
  background: #1BCB7F;
  color: white;
}

.costume-informations-show {

}

.upload-button {
  margin-top: 100px;
  display:flex;
  justify-content: flex-end;

}
