.owner-costume-new {
  margin: auto;
  width: 800px;
  margin-top: 20px;
}

.titre-owner-costume {
  display:flex;
  align-item: center;
  justify-content:center;
  margin-top: 20px;
}

.new-costume {

}

// .owner-custome-information {

// }

// .owner-custome-photo {

// }

.owner-custome-submit {

}
