.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 700px;
  background-color:hsl(100, 90%, 50%);
  color:hsl(250, 100%, 50%);
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-banner .container {
  text-align: center
}
