.btn-danger {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f28f4b;
  transition: background 0.3s ease;
}

.btn-danger:hover {
  background: #ef5e30;
  color: white;
}


.booking-btn {
  width: 40px;
  height: 40px;
  background-image: url('images/validation.png');
}

.btn-danger {
 color: white;
 padding: 8px 24px;
 border-radius: 4px;
 background: #f28f4b;
 transition: background 0.3s ease;
}

.btn-danger:hover {
 color: #ef5e30;
}

.owner-booking-accepted {
  color: #62C147;
}

.owner-booking-decline {
 color: #ED2D2D;
}

.owner-booking-accepted:hover {
  color: white;
  background-color: #62C147;
}

.owner-booking-decline:hover {
  color: white;
 background-color: #ED2D2D;
}
