.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: #f28f4b;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.nav-item dropdown {

}
.avatar {

}

.nav-link {
  margin-right: 20px;
}
