

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 27px 27px 8px -25px rgba(0,0,0,0.23);
  display: flex;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-product img {
  width: 120px;
  object-fit: cover;
  padding: 5px;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}




