.profile-container {
  background-color: white;
  margin-top: 20px;
  padding: 16px;
  height: 100px;
  display: flex;
}

.banner {
  background-color: white;
  margin-top: 30px;
}

.banner p {
  color: black;
  text-shadow: none;
}
